<template name="register">
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-4"></div>
      <div class="col-lg-8"><h1 class="h1">Registration Form</h1></div>
  </div>
  </div>
   <form class="form-horizontal">

    <div class="col-lg-2"></div>
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">First Name</label>
    <div class="col-lg-5">
      <input type="text" class="form-control" id="firstname" placeholder="First Name">
    </div>
  </div>

      <div class="col-lg-2"></div>
  <div class="form-group">
    <label for="lastname" class="col-sm-2 control-label">Last Name</label>
    <div class="col-lg-5">
      <input type="text" class="form-control" id="lastname" placeholder="Last Name">
    </div>
  </div>

    <div class="col-lg-2"></div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-lg-5">
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
  </div>

  <div class="col-lg-2"></div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-lg-5">
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
  </div>

  <div class="col-lg-2"></div>
  <div class="form-group">
    <label for="con_password" class="col-sm-2 control-label">Confirm Password</label>
    <div class="col-lg-5">
      <input type="password" class="form-control" id="con_password" placeholder="Confirm Password">
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-6 col-lg-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>
</template>