<template name="login">
  <div class="row col-lg-12">
      <div class="col-lg-5"></div>
      <div class="col-lg-7"><h1 class="h1">Login Form</h1></div>
  </div>
   <form class="form-horizontal">

    <div class="col-lg-2"></div>
  <div class="form-group">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-lg-5">
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
  </div>

  <div class="col-lg-2"></div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-lg-5">
      <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
  </div>

  
  <div class="form-group">
    <div class="col-lg-offset-6 col-lg-10">
      <button type="submit" class="btn btn-default">Login</button>
    </div>
  </div>
</form>
</template>