<template name="services">
  <div class="row col-lg-12">
      <div class="col-lg-5"></div>
      <div class="col-lg-7"><h1 class="h1">User's List</h1></div>
  </div>

  <div class="row col-lg-12">
      <div class="col-lg-1"></div>
      <div class="col-lg-9">
       <table class="table table-responsive table-bordered">
        <tr>
          <td><h4 class="h4">First Name</h4></td>
          <td><h4 class="h4">Last Name</h4></td>
          <td><h4 class="h4">Email</h4></td>
          <td><h4 class="h4">Password</h4></td>
          <td><h4 class="h4">Points</h4></td>
        </tr>
        {{#each user}}
        <tr class="users {{selectedClass}}">
        <td>{{profile.firstname}}</td>
        <td>{{profile.lastname}}</td>
        <td>{{profile.email}}</td>
        <td>{{profile.password}}</td>
        <td>{{profile.points}}</td>
        </tr>
        {{/each}}

        </table>
        </div>
        <div class="col-lg-2"></div> 
  </div>

  <div class="row col-lg-12">
    <div class="col-lg-5"></div>
    <div class="col-lg-6">
      <input class="btn btn-default addpoint" type="button" value="Get 5 points">
    </div>
  </div>
</template>