<template name="header">
  <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
  <div class="container">
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
   
  </div>
  
      <div class="collapse navbar-collapse js-navbar-collapse">
            <ul class="nav navbar-nav">
            <li>
           <a href="{{pathFor route='index'}}">HOME</a>
            </li>
            <li>
           <a href="{{pathFor route='register'}}">REGISTRATION</a>
            </li>
            <li>
              <a href="{{pathFor route='login'}}">LOGIN</a>
            </li>
            <li>
              <a href="{{pathFor route='services'}}">SERVICES</a>
            </li>
            <li>
              <a href="#">ABOUT_US</a>
            </li>
            <li>
              <a href="#">CONTACT_US</a>
            </li>
          </ul>
      </div>
    </nav>
  </div>
</header>

  
</template>
